<link rel="stylesheet" href="${rc.contextPath}/static/public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="${rc.contextPath}/static/css/plugin-css/AdminLTE.min.css">
<link rel="stylesheet" href="${rc.contextPath}/static/css/plugin-css/all-skins.min.css">
<link rel="stylesheet" href="${rc.contextPath}/static/public/elementui/index.css">
<link rel="stylesheet" href="${rc.contextPath}/static/public/iconfont/iconfont.css">
<link rel="stylesheet" href="${rc.contextPath}/static/css/custom.css">
<link rel="icon" href="${rc.contextPath}/static/images/favicon.ico" type="image/x-icon">
