.index-panel {
    width: 100%;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 6px !important;
}

.img-box, .desc {
    display: inline-block;
    height: 70px;
    float: left;
}

.img-box .iconfont {
    font-size: 65px;
}

.icon-yonghu {
    color: #f2783a
}

.icon-apple {
    color: #4a90e2
}

.icon-android {
    color: #7ed321
}

.icon-yingyong {
    color: #56a6e6
}

.icon-qingyingyong {
    color: #3bd5b3
}

.icon-disanfangyingyong {
    color: #f6506f
}

.desc {
    margin-left: 20px;
    font-size: 20px;
}

.desc .num {
    margin: 10px 0 5px 0;
}

.box-item {
    height: 120px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.box-item:nth-of-type(3n) {
    border-right: none;
}

.box-item:nth-of-type(4), .box-item:nth-of-type(5), .box-item:nth-of-type(6) {
    border-bottom: none;
}

.content-wrap {
    position: absolute;
}

.content-wrap.second {
    position: relative;
    width: 145px;
    margin: 0 auto;
}

.content-wrap.third, .content-wrap.six {
    width: 180px;
}

.content-wrap.fourth, .content-wrap.five, .content-wrap.six {
    padding-top: 30px;
}

.content-wrap.bottom-center {
    width: 145px;
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
}

.content-wrap.right {
    right: 0;
    top: 0;
}

.content-wrap.left-bottom {
    left: 0;
    bottom: 10px;
}

.content-wrap.right-bottom {
    right: 0;
    bottom: 10px;
}

.desc .num {
    font-size: 30px;
    color: #474545;
}

.desc .text {
    font-size: 16px;
    color: #9e9e9e;
}

.link-block {
    display: block;
    width: 100%;
    height: 100%;
    border-box: box-sizing;
}