<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hummer.newweb.model.impl.EmployeePOMapper">
    <resultMap id="BaseResultMap" type="org.hummer.newweb.model.impl.EmployeePO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="image_address" jdbcType="VARCHAR" property="imageAddress"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="mark_name" jdbcType="VARCHAR" property="markName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_system" jdbcType="VARCHAR" property="userSystem"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="weixin_id" jdbcType="VARCHAR" property="weixinId"/>
        <result column="turnover_time" jdbcType="BIGINT" property="turnoverTime"/>
        <result column="working_time" jdbcType="BIGINT" property="workingTime"/>
        <result column="app_id" jdbcType="BIGINT" property="appId"/>
        <result column="count" jdbcType="BIGINT" property="count"/>
        <result column="first_login" jdbcType="BIGINT" property="firstLogin"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="login_max_count" jdbcType="INTEGER" property="loginMaxCount"/>
        <result column="create_type" jdbcType="TINYINT" property="createType"/>
        <result column="ldap_dn" jdbcType="VARCHAR" property="ldapDn"/>
        <result column="phone_type" jdbcType="VARCHAR" property="phoneType"/>
        <result column="pinyin_name" jdbcType="VARCHAR" property="pinyinName"/>
        <result column="initial" jdbcType="VARCHAR" property="initial"/>
    </resultMap>
    <insert id="insert" parameterType="org.hummer.newweb.model.impl.EmployeePO">
    insert into kn_employee (id, create_time, update_time, 
      address, email, image_address, 
      job, login_name, mark_name, 
      phone, sex, signature, 
      telephone, user_id, user_name, 
      user_system, user_type, weixin_id, 
      turnover_time, working_time, app_id, 
      count, first_login, delete_flag, 
      login_max_count, create_type, ldap_dn, 
      phone_type, pinyin_name, initial
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{imageAddress,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{markName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userSystem,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{weixinId,jdbcType=VARCHAR}, 
      #{turnoverTime,jdbcType=BIGINT}, #{workingTime,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT}, 
      #{count,jdbcType=BIGINT}, #{firstLogin,jdbcType=BIGINT}, #{deleteFlag,jdbcType=INTEGER}, 
      #{loginMaxCount,jdbcType=INTEGER}, #{createType,jdbcType=TINYINT}, #{ldapDn,jdbcType=VARCHAR}, 
      #{phoneType,jdbcType=VARCHAR}, #{pinyinName,jdbcType=VARCHAR}, #{initial,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="org.hummer.newweb.model.impl.EmployeePO">
        insert into kn_employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="imageAddress != null">
                image_address,
            </if>
            <if test="job != null">
                job,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="markName != null">
                mark_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="signature != null">
                signature,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userSystem != null">
                user_system,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="weixinId != null">
                weixin_id,
            </if>
            <if test="turnoverTime != null">
                turnover_time,
            </if>
            <if test="workingTime != null">
                working_time,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="firstLogin != null">
                first_login,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="loginMaxCount != null">
                login_max_count,
            </if>
            <if test="createType != null">
                create_type,
            </if>
            <if test="ldapDn != null">
                ldap_dn,
            </if>
            <if test="phoneType != null">
                phone_type,
            </if>
            <if test="pinyinName != null">
                pinyin_name,
            </if>
            <if test="initial != null">
                initial,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="imageAddress != null">
                #{imageAddress,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                #{job,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="markName != null">
                #{markName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                #{signature,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSystem != null">
                #{userSystem,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="weixinId != null">
                #{weixinId,jdbcType=VARCHAR},
            </if>
            <if test="turnoverTime != null">
                #{turnoverTime,jdbcType=BIGINT},
            </if>
            <if test="workingTime != null">
                #{workingTime,jdbcType=BIGINT},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                #{count,jdbcType=BIGINT},
            </if>
            <if test="firstLogin != null">
                #{firstLogin,jdbcType=BIGINT},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="loginMaxCount != null">
                #{loginMaxCount,jdbcType=INTEGER},
            </if>
            <if test="createType != null">
                #{createType,jdbcType=TINYINT},
            </if>
            <if test="ldapDn != null">
                #{ldapDn,jdbcType=VARCHAR},
            </if>
            <if test="phoneType != null">
                #{phoneType,jdbcType=VARCHAR},
            </if>
            <if test="pinyinName != null">
                #{pinyinName,jdbcType=VARCHAR},
            </if>
            <if test="initial != null">
                #{initial,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <resultMap id="BaseResultMap" type="com.csdn.ingo.entity.EmployeePO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="image_address" jdbcType="VARCHAR" property="imageAddress"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="mark_name" jdbcType="VARCHAR" property="markName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_system" jdbcType="VARCHAR" property="userSystem"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="weixin_id" jdbcType="VARCHAR" property="weixinId"/>
        <result column="turnover_time" jdbcType="BIGINT" property="turnoverTime"/>
        <result column="working_time" jdbcType="BIGINT" property="workingTime"/>
        <result column="app_id" jdbcType="BIGINT" property="appId"/>
        <result column="count" jdbcType="BIGINT" property="count"/>
        <result column="first_login" jdbcType="BIGINT" property="firstLogin"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="login_max_count" jdbcType="INTEGER" property="loginMaxCount"/>
        <result column="create_type" jdbcType="TINYINT" property="createType"/>
        <result column="ldap_dn" jdbcType="VARCHAR" property="ldapDn"/>
        <result column="phone_type" jdbcType="VARCHAR" property="phoneType"/>
        <result column="pinyin_name" jdbcType="VARCHAR" property="pinyinName"/>
        <result column="initial" jdbcType="VARCHAR" property="initial"/>
    </resultMap>
    <insert id="insert" parameterType="com.csdn.ingo.entity.EmployeePO">
    insert into kn_employee (id, create_time, update_time, 
      address, email, image_address, 
      job, login_name, mark_name, 
      phone, sex, signature, 
      telephone, user_id, user_name, 
      user_system, user_type, weixin_id, 
      turnover_time, working_time, app_id, 
      count, first_login, delete_flag, 
      login_max_count, create_type, ldap_dn, 
      phone_type, pinyin_name, initial
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{imageAddress,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{markName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userSystem,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{weixinId,jdbcType=VARCHAR}, 
      #{turnoverTime,jdbcType=BIGINT}, #{workingTime,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT}, 
      #{count,jdbcType=BIGINT}, #{firstLogin,jdbcType=BIGINT}, #{deleteFlag,jdbcType=INTEGER}, 
      #{loginMaxCount,jdbcType=INTEGER}, #{createType,jdbcType=TINYINT}, #{ldapDn,jdbcType=VARCHAR}, 
      #{phoneType,jdbcType=VARCHAR}, #{pinyinName,jdbcType=VARCHAR}, #{initial,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.csdn.ingo.entity.EmployeePO">
        insert into kn_employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="imageAddress != null">
                image_address,
            </if>
            <if test="job != null">
                job,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="markName != null">
                mark_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="signature != null">
                signature,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userSystem != null">
                user_system,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="weixinId != null">
                weixin_id,
            </if>
            <if test="turnoverTime != null">
                turnover_time,
            </if>
            <if test="workingTime != null">
                working_time,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="firstLogin != null">
                first_login,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="loginMaxCount != null">
                login_max_count,
            </if>
            <if test="createType != null">
                create_type,
            </if>
            <if test="ldapDn != null">
                ldap_dn,
            </if>
            <if test="phoneType != null">
                phone_type,
            </if>
            <if test="pinyinName != null">
                pinyin_name,
            </if>
            <if test="initial != null">
                initial,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="imageAddress != null">
                #{imageAddress,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                #{job,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="markName != null">
                #{markName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                #{signature,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSystem != null">
                #{userSystem,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="weixinId != null">
                #{weixinId,jdbcType=VARCHAR},
            </if>
            <if test="turnoverTime != null">
                #{turnoverTime,jdbcType=BIGINT},
            </if>
            <if test="workingTime != null">
                #{workingTime,jdbcType=BIGINT},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                #{count,jdbcType=BIGINT},
            </if>
            <if test="firstLogin != null">
                #{firstLogin,jdbcType=BIGINT},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="loginMaxCount != null">
                #{loginMaxCount,jdbcType=INTEGER},
            </if>
            <if test="createType != null">
                #{createType,jdbcType=TINYINT},
            </if>
            <if test="ldapDn != null">
                #{ldapDn,jdbcType=VARCHAR},
            </if>
            <if test="phoneType != null">
                #{phoneType,jdbcType=VARCHAR},
            </if>
            <if test="pinyinName != null">
                #{pinyinName,jdbcType=VARCHAR},
            </if>
            <if test="initial != null">
                #{initial,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <resultMap id="BaseResultMap" type="org.hummer.newweb.model.impl.EmployeePO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="image_address" jdbcType="VARCHAR" property="imageAddress"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="mark_name" jdbcType="VARCHAR" property="markName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_system" jdbcType="VARCHAR" property="userSystem"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="weixin_id" jdbcType="VARCHAR" property="weixinId"/>
        <result column="turnover_time" jdbcType="BIGINT" property="turnoverTime"/>
        <result column="working_time" jdbcType="BIGINT" property="workingTime"/>
        <result column="app_id" jdbcType="BIGINT" property="appId"/>
        <result column="count" jdbcType="BIGINT" property="count"/>
        <result column="first_login" jdbcType="BIGINT" property="firstLogin"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="login_max_count" jdbcType="INTEGER" property="loginMaxCount"/>
        <result column="create_type" jdbcType="TINYINT" property="createType"/>
        <result column="ldap_dn" jdbcType="VARCHAR" property="ldapDn"/>
        <result column="phone_type" jdbcType="VARCHAR" property="phoneType"/>
        <result column="pinyin_name" jdbcType="VARCHAR" property="pinyinName"/>
        <result column="initial" jdbcType="VARCHAR" property="initial"/>
    </resultMap>
    <insert id="insert" parameterType="org.hummer.newweb.model.impl.EmployeePO">
    insert into kn_employee (id, create_time, update_time, 
      address, email, image_address, 
      job, login_name, mark_name, 
      phone, sex, signature, 
      telephone, user_id, user_name, 
      user_system, user_type, weixin_id, 
      turnover_time, working_time, app_id, 
      count, first_login, delete_flag, 
      login_max_count, create_type, ldap_dn, 
      phone_type, pinyin_name, initial
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{imageAddress,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{markName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userSystem,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{weixinId,jdbcType=VARCHAR}, 
      #{turnoverTime,jdbcType=BIGINT}, #{workingTime,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT}, 
      #{count,jdbcType=BIGINT}, #{firstLogin,jdbcType=BIGINT}, #{deleteFlag,jdbcType=INTEGER}, 
      #{loginMaxCount,jdbcType=INTEGER}, #{createType,jdbcType=TINYINT}, #{ldapDn,jdbcType=VARCHAR}, 
      #{phoneType,jdbcType=VARCHAR}, #{pinyinName,jdbcType=VARCHAR}, #{initial,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="org.hummer.newweb.model.impl.EmployeePO">
        insert into kn_employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="imageAddress != null">
                image_address,
            </if>
            <if test="job != null">
                job,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="markName != null">
                mark_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="signature != null">
                signature,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userSystem != null">
                user_system,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="weixinId != null">
                weixin_id,
            </if>
            <if test="turnoverTime != null">
                turnover_time,
            </if>
            <if test="workingTime != null">
                working_time,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="firstLogin != null">
                first_login,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="loginMaxCount != null">
                login_max_count,
            </if>
            <if test="createType != null">
                create_type,
            </if>
            <if test="ldapDn != null">
                ldap_dn,
            </if>
            <if test="phoneType != null">
                phone_type,
            </if>
            <if test="pinyinName != null">
                pinyin_name,
            </if>
            <if test="initial != null">
                initial,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="imageAddress != null">
                #{imageAddress,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                #{job,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="markName != null">
                #{markName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                #{signature,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSystem != null">
                #{userSystem,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="weixinId != null">
                #{weixinId,jdbcType=VARCHAR},
            </if>
            <if test="turnoverTime != null">
                #{turnoverTime,jdbcType=BIGINT},
            </if>
            <if test="workingTime != null">
                #{workingTime,jdbcType=BIGINT},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                #{count,jdbcType=BIGINT},
            </if>
            <if test="firstLogin != null">
                #{firstLogin,jdbcType=BIGINT},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="loginMaxCount != null">
                #{loginMaxCount,jdbcType=INTEGER},
            </if>
            <if test="createType != null">
                #{createType,jdbcType=TINYINT},
            </if>
            <if test="ldapDn != null">
                #{ldapDn,jdbcType=VARCHAR},
            </if>
            <if test="phoneType != null">
                #{phoneType,jdbcType=VARCHAR},
            </if>
            <if test="pinyinName != null">
                #{pinyinName,jdbcType=VARCHAR},
            </if>
            <if test="initial != null">
                #{initial,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>