<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hummer.newweb.model.impl.UserMapper">
    <resultMap id="BaseResultMap" type="org.hummer.newweb.model.impl.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="firstName" jdbcType="VARCHAR" property="firstname"/>
        <result column="lastName" jdbcType="VARCHAR" property="lastname"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="crtDate" jdbcType="DATE" property="crtdate"/>
        <result column="crtUserId" jdbcType="VARCHAR" property="crtuserid"/>
        <result column="mdfDate" jdbcType="DATE" property="mdfdate"/>
        <result column="mdfUserId" jdbcType="VARCHAR" property="mdfuserid"/>
        <result column="deletedYn" jdbcType="VARCHAR" property="deletedyn"/>
    </resultMap>
    <insert id="insert" parameterType="org.hummer.newweb.model.impl.User">
    insert into users (id, firstName, lastName, 
      role, email, crtDate, 
      crtUserId, mdfDate, mdfUserId, 
      deletedYn)
    values (#{id,jdbcType=INTEGER}, #{firstname,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{crtdate,jdbcType=DATE}, 
      #{crtuserid,jdbcType=VARCHAR}, #{mdfdate,jdbcType=DATE}, #{mdfuserid,jdbcType=VARCHAR}, 
      #{deletedyn,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="org.hummer.newweb.model.impl.User">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="firstname != null">
                firstName,
            </if>
            <if test="lastname != null">
                lastName,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="crtdate != null">
                crtDate,
            </if>
            <if test="crtuserid != null">
                crtUserId,
            </if>
            <if test="mdfdate != null">
                mdfDate,
            </if>
            <if test="mdfuserid != null">
                mdfUserId,
            </if>
            <if test="deletedyn != null">
                deletedYn,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="firstname != null">
                #{firstname,jdbcType=VARCHAR},
            </if>
            <if test="lastname != null">
                #{lastname,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="crtdate != null">
                #{crtdate,jdbcType=DATE},
            </if>
            <if test="crtuserid != null">
                #{crtuserid,jdbcType=VARCHAR},
            </if>
            <if test="mdfdate != null">
                #{mdfdate,jdbcType=DATE},
            </if>
            <if test="mdfuserid != null">
                #{mdfuserid,jdbcType=VARCHAR},
            </if>
            <if test="deletedyn != null">
                #{deletedyn,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>